.App {
  min-height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0px;
}
.Navbar > nav > ul {
  display: flex;
  gap: 1rem;
}

.Main {
  flex-grow: 1;
  align-items: center;
}

.Footer {
  align-items: center;
}

/* Generic classes */
.flex-col {
  display: flex;
  flex-direction: column;
}
